<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.ecif.mapper.EcifTableCollectionMapper">
  <resultMap id="BaseResultMap" type="com.gt.ecif.entity.EcifTableCollection">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SOA_EN_NAME" jdbcType="VARCHAR" property="soaEnName" />
    <result column="SOA_CN_NAM" jdbcType="VARCHAR" property="soaCnNam" />
    <result column="BUSSINESS_DES" jdbcType="VARCHAR" property="bussinessDes" />
    <result column="REL_COLUMN" jdbcType="VARCHAR" property="relColumn" />
    <result column="REL_SQL" jdbcType="VARCHAR" property="relSql" />
    <result column="REL_COMMON" jdbcType="VARCHAR" property="relCommon" />
    <result column="PRINCIPAL" jdbcType="VARCHAR" property="principal" />
    <result column="COMPLETE_TIME" jdbcType="TIMESTAMP" property="completeTime" />
    <result column="CREATED_BY" jdbcType="INTEGER" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="INTEGER" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SOA_EN_NAME, SOA_CN_NAM, BUSSINESS_DES, REL_COLUMN, REL_SQL, REL_COMMON, PRINCIPAL, 
    COMPLETE_TIME, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecif_table_collection
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ecif_table_collection
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gt.ecif.entity.EcifTableCollection">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ecif_table_collection (SOA_EN_NAME, SOA_CN_NAM, BUSSINESS_DES, 
      REL_COLUMN, REL_SQL, REL_COMMON, 
      PRINCIPAL, COMPLETE_TIME, CREATED_BY, 
      CREATED_TIME, UPDATED_BY, UPDATED_TIME
      )
    values (#{soaEnName,jdbcType=VARCHAR}, #{soaCnNam,jdbcType=VARCHAR}, #{bussinessDes,jdbcType=VARCHAR}, 
      #{relColumn,jdbcType=VARCHAR}, #{relSql,jdbcType=VARCHAR}, #{relCommon,jdbcType=VARCHAR}, 
      #{principal,jdbcType=VARCHAR}, #{completeTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gt.ecif.entity.EcifTableCollection">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ecif_table_collection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="soaEnName != null">
        SOA_EN_NAME,
      </if>
      <if test="soaCnNam != null">
        SOA_CN_NAM,
      </if>
      <if test="bussinessDes != null">
        BUSSINESS_DES,
      </if>
      <if test="relColumn != null">
        REL_COLUMN,
      </if>
      <if test="relSql != null">
        REL_SQL,
      </if>
      <if test="relCommon != null">
        REL_COMMON,
      </if>
      <if test="principal != null">
        PRINCIPAL,
      </if>
      <if test="completeTime != null">
        COMPLETE_TIME,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="soaEnName != null">
        #{soaEnName,jdbcType=VARCHAR},
      </if>
      <if test="soaCnNam != null">
        #{soaCnNam,jdbcType=VARCHAR},
      </if>
      <if test="bussinessDes != null">
        #{bussinessDes,jdbcType=VARCHAR},
      </if>
      <if test="relColumn != null">
        #{relColumn,jdbcType=VARCHAR},
      </if>
      <if test="relSql != null">
        #{relSql,jdbcType=VARCHAR},
      </if>
      <if test="relCommon != null">
        #{relCommon,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null">
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gt.ecif.entity.EcifTableCollection">
    update ecif_table_collection
    <set>
      <if test="soaEnName != null">
        SOA_EN_NAME = #{soaEnName,jdbcType=VARCHAR},
      </if>
      <if test="soaCnNam != null">
        SOA_CN_NAM = #{soaCnNam,jdbcType=VARCHAR},
      </if>
      <if test="bussinessDes != null">
        BUSSINESS_DES = #{bussinessDes,jdbcType=VARCHAR},
      </if>
      <if test="relColumn != null">
        REL_COLUMN = #{relColumn,jdbcType=VARCHAR},
      </if>
      <if test="relSql != null">
        REL_SQL = #{relSql,jdbcType=VARCHAR},
      </if>
      <if test="relCommon != null">
        REL_COMMON = #{relCommon,jdbcType=VARCHAR},
      </if>
      <if test="principal != null">
        PRINCIPAL = #{principal,jdbcType=VARCHAR},
      </if>
      <if test="completeTime != null">
        COMPLETE_TIME = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gt.ecif.entity.EcifTableCollection">
    update ecif_table_collection
    set SOA_EN_NAME = #{soaEnName,jdbcType=VARCHAR},
      SOA_CN_NAM = #{soaCnNam,jdbcType=VARCHAR},
      BUSSINESS_DES = #{bussinessDes,jdbcType=VARCHAR},
      REL_COLUMN = #{relColumn,jdbcType=VARCHAR},
      REL_SQL = #{relSql,jdbcType=VARCHAR},
      REL_COMMON = #{relCommon,jdbcType=VARCHAR},
      PRINCIPAL = #{principal,jdbcType=VARCHAR},
      COMPLETE_TIME = #{completeTime,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=INTEGER},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=INTEGER},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>