<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::common_header(~{::title},~{::link},~{},~{::script})">
    <title>首页-展示页</title>
    <link th:href="@{/static/css/homepage.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/js/plugins/echarts/echarts-all.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/homePage.js}"></script>
</head>
<body>
<div class="home_main loginscreen animated fadeInDown" >
    <div class="top_nav">
        <a href="javascript:;" onclick="openTab('/ecif/utils/codetable','码表工具','/ecif/utils/codetable')">
            <div class="home_top home_bg1">
                <ul class="home_ul">
                    <li><span class="home_spanone">//业务</span></li>
                    <li><span class="home_spanEng">CodeTable Util</span></li>
                    <li><span class="home_spanbig">码表工具</span></li>
                </ul>
            </div>
        </a>
        <a href="javascript:;" onclick="openTab('/ecif/utils/qaplatform','QA平台','/ecif/utils/qaplatform')">
            <div class="home_top home_bg2">
                <ul class="home_ul">
                    <li><span class="home_spanone">//业务</span></li>
                    <li><span class="home_spanEng">QA Platform</span></li>
                    <li><span class="home_spanbig">QA平台</span></li>
                </ul>
            </div>
        </a>
        <a href="javascript:;" onclick="openTab('/ecif/utils/ecifColoumQuery','开放接口库表字段查询','/ecif/utils/ecifColoumQuery')">
            <div class="home_top home_bg1">
                <ul class="home_ul">
                                        <li><span class="home_spanone">//业务</span></li>
                    <li><span class="home_spanEng">DB Column Query</span></li>
                    <li><span class="home_spanbig">开放接口库表字段查询</span></li>
                </ul>
            </div>
        </a>
        <a href="javascript:;" onclick="openTab('/ecif/system/user','用户管理','/ecif/system/user')">
            <div class="home_top home_bg3">
                <ul class="home_ul">
                    <li><span class="home_spanone">//系统</span></li>
                    <li><span class="home_spanEng">User Manage</span></li>
                    <li><span class="home_spanbig">用户管理</span></li>
                </ul>
            </div>
        </a>

    </div>
    <div class="home_btm">
        <div class="home_graph">
            <div class="home_graph_top">
                <img src="static/img/visitor.svg" width="24px" >
            </div>
            <div class="home_graph_btm" id="containerForm" style="width: 790px;height: 380px;padding: 10px">

            </div>
        </div>
        <!--<div class="home_contrast">
            <div class="home_contrast_bg home_contrast_bg1">
                <div class="home_contrast_left">
                    <span class="home_contrast_big">${nowMonthProjectCount }</span><br/>
                    <p class="home_contrast_p">当月新增项目</p>
                </div>
                <div class="home_contrast_right">
                    <span>与上月同期对比</span>
                    <c:if test="${nowMonthProjectCount == preMonthProjectCount}">
                        <img src="static/img/home_contrast_flat.png">
                    </c:if>
                    <c:if test="${nowMonthProjectCount > preMonthProjectCount}">
                        <img src="static/img/home_contrast_rise.png">
                    </c:if>
                    <c:if test="${nowMonthProjectCount < preMonthProjectCount}">
                        <img src="static/img/home_contrast_drop.png">
                    </c:if>
                    <br/>
                    <span>${preMonthProjectCount }</span>
                </div>
            </div>
            <div class="home_contrast_bg home_contrast_bg2">
                <div class="home_contrast_left">
                    <span class="home_contrast_big">${nowMonthRepayAmount }</span><br/>
                    <p class="home_contrast_p">项目股东投入产出实际总回报(万元)</p>
                </div>
                <div class="home_contrast_right">
                    <span>与上月同期对比</span>
                    <c:if test="${nowMonthRepayAmount == preMonthRepayAmount}">
                        <img src="static/img/home_contrast_flat.png">
                    </c:if>
                    <c:if test="${nowMonthRepayAmount > preMonthRepayAmount}">
                        <img src="static/img/home_contrast_rise.png">
                    </c:if>
                    <c:if test="${nowMonthRepayAmount < preMonthRepayAmount}">
                        <img src="static/img/home_contrast_drop.png">
                    </c:if>
                    <br/>
                    <span>${preMonthRepayAmount }</span>
                </div>
            </div>
        </div>-->
    </div>
</div>
<div class="homepage-signin">
    <img src="static/img/index-bj.jpg">
</div>
<!--<div style="display: none" id="amountTypeList">${amountTypeList }</div>
<div style="display: none" id="projectNameList">${projectNameList }</div>
<div style="display: none" id="expectInvestAmountList">${expectInvestAmountList }</div>
<div style="display: none" id="expectAllReceiverAccountList">${expectAllReceiverAccountList }</div>
<div style="display: none" id="realityInvestAmountList">${realityInvestAmountList }</div>
<div style="display: none" id="realityReceivedAmountList">${realityReceivedAmountList }</div>-->
</body>
</html>